ul.pagination
  li.paginate_button.previous
    a(href='#')
      i.fa.fa-chevron-left
  li.paginate_button
    a(href='#') 1
  li.paginate_button.active
    a(href='#') 2
  li.paginate_button
    a(href='#') 3
  li.paginate_button
    a(href='#') 4
  li.paginate_button
    a(href='#') 5
  li.paginate_button
    a(href='#') 6
  li.paginate_button.next
    a(href='#')
      i.fa.fa-chevron-right