aside#sidebar-left.sidebar-circle
  ul.sidebar-menu
 
    li
      a(href='/')
        span.icon
          i.fa.fa-home
        span.text Заказы
        span(class="label label-danger pull-right") 60
    li.submenu.active
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-television
        span.text Товары
        span.arrow 
      ul
        li
          a(href='products.html') Все товары
        li
          a(href='product-edit.html') Добавить товар
        li
          a(href='kit.html') Комплекты
    
    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-list
        span.text Категории 
        span.arrow
      ul
        li
          a(href='category.html') Все категории
        li
          a(href='category-edit.html') Добавить категорию
        
    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-sliders
        span.text Характеристики и атрибуты
        span.arrow
      ul
        li
          a(href='characteristics.html') Все Характеристики
        li
          a(href='characteristics-edit.html') Добавить характеристику

    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-amazon
        span.text Производители
        span.arrow
      ul
        li
          a(href='brand.html') Все производители
        li
          a(href='brand-edit.html') Добавить производителя

    li
      a(href='users.html')
        span.icon
          i.fa.fa-users
        span.text Покупатели

    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-car
        span.text Доставка
        span.arrow
      ul
        li
          a(href='delivery.html') Все способы доставки
        li
          a(href='delivery-edit.html') Добавить способ доставки

    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-credit-card
        span.text Оплата
        span.arrow
      ul
        li
          a(href='payments.html') Все способы оплаты
        li
          a(href='payments-edit.html') Добавить способ оплаты

    li.submenu
      a(href='#')
        span.icon
          i.fa.fa-file-text-o
        span.text Выгрузки XML  

    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-usd
        span.text Курсы валют
        span.arrow
      ul
        li
          a(href='exchange.html') Все курсы валют
        li
          a(href='exchange-edit.html') Добавить курс
    
    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-file-o
        span.text Статьи
        span.arrow
      ul
        li
          a(href='articles.html') Все статьи
        li
          a(href='article-edit.html') Добавить статью
    
    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-newspaper-o
        span.text Новости
        span.arrow
      ul
        li
          a(href='news.html') Все новости
        li
          a(href='news-edit.html') Добавить новость

    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-share
        span.text Сниппеты
        span.arrow
      ul
        li
          a(href='#') Сниппеты услуги
        li
          a(href='#') Сниппеты категории
    
    li.submenu
      a(href='javascript:void(0);')
        span.icon
          i.fa.fa-file-image-o
        span.text Баннеры
        span.arrow
      ul
        li
          a(href='banners.html') Все баннеры
        li
          a(href='banners-edit.html') Добавить банер
    
    li.submenu
      a(href='#')
        span.icon
          i.fa.fa-cogs
        span.text Настройки