extends ../main.layout.pug

block title
  | Банеры


block content
  include ../inc/head
  include ../inc/sidebar-left.pug
  section#page-content.page__articles
    .header-content
      h2 Банеры
      .breadcrumb-wrapper.hidden-xs
        ol.breadcrumb
          li
            i.fa.fa-home
            a(href='/') Главная
            i.fa.fa-angle-right
          li.active Банеры


    .body-content
      .row
        .col-md-12
          .panel.panel-success.shadow
            .panel-heading
              h3.panel-title Список банеров

            .panel-body.no-padding
              .list
                ul.list__wrap#sortable
                  li.list__item
                    input.cat__position(type='hidden', name='cat_position', value='1')
                    input.cat__id(type='hidden', name='cat_id', value='900')
                    .list__info
                      .list__sort
                        .fa.fa-sort
                      .list__banner
                        img.img-responsive(src='img/1.jpg', alt='Банер')                 
                      a(href="banners-edit.html").list__link Банер  
                    .list__action
                      .list__btn                          
                        a.btn.btn-danger.btn-xs(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Удалить')
                          i.fa.fa-times
                  li.list__item
                    input.cat__position(type='hidden', name='cat_position', value='1')
                    input.cat__id(type='hidden', name='cat_id', value='900')
                    .list__info
                      .list__sort
                        .fa.fa-sort
                      .list__banner
                        img.img-responsive(src='img/1.jpg', alt='Банер')                 
                      a(href="banners-edit.html").list__link Банер  
                    .list__action
                      .list__btn                          
                        a.btn.btn-danger.btn-xs(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Удалить')
                          i.fa.fa-times
                  li.list__item
                    input.cat__position(type='hidden', name='cat_position', value='1')
                    input.cat__id(type='hidden', name='cat_id', value='900')
                    .list__info
                      .list__sort
                        .fa.fa-sort
                      .list__banner
                        img.img-responsive(src='img/1.jpg', alt='Банер')                 
                      a(href="banners-edit.html").list__link Банер  
                    .list__action
                      .list__btn                          
                        a.btn.btn-danger.btn-xs(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Удалить')
                          i.fa.fa-times
                  li.list__item
                    input.cat__position(type='hidden', name='cat_position', value='1')
                    input.cat__id(type='hidden', name='cat_id', value='900')
                    .list__info
                      .list__sort
                        .fa.fa-sort
                      .list__banner
                        img.img-responsive(src='img/1.jpg', alt='Банер')                 
                      a(href="banners-edit.html").list__link Банер  
                    .list__action
                      .list__btn                          
                        a.btn.btn-danger.btn-xs(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Удалить')
                          i.fa.fa-times
                  li.list__item
                    input.cat__position(type='hidden', name='cat_position', value='1')
                    input.cat__id(type='hidden', name='cat_id', value='900')
                    .list__info
                      .list__sort
                        .fa.fa-sort
                      .list__banner
                        img.img-responsive(src='img/1.jpg', alt='Банер')                 
                      a(href="banners-edit.html").list__link Банер  
                    .list__action
                      .list__btn                          
                        a.btn.btn-danger.btn-xs(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Удалить')
                          i.fa.fa-times
                       
                
      
    include ../inc/footer